
.cover-image-wrapper {
    box-sizing: border-box;
}

.cover-image {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

@media only screen and (max-width: 720px) {
  .cover-image {
    height: 5rem;
  }
}

@media only screen and (min-width: 721px) {
  .cover-image {
    height: 16rem;
  }
}

@media only screen and (min-width: 1020px) {
  .cover-image {
    height: 21rem;
  }
}


.cover-image img {
    width: 100%;
    transform: translateY(-25%);
}


.post-title {
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.post-author {
    color: gray;
    margin: 0;
}

.share-blog {
    display: flex;
}

.share-buttons {
    margin-left: auto;
    display: flex;
}

.bmc-button {
    width: auto;
    height: 17px;
    background-color: #5F7FFF;
    border-radius: 25px;
    padding: 2px 10px;
    margin-bottom: 1px;
    color: lightyellow;
}


/* Vertical Align LinkedIn button */
.IN-widget {
    vertical-align: top !important; 
}

.tags {
    margin-top: 0.2rem;
    padding-inline-start: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
        display: inline-block;
    }

}