

.post-title {
    margin-top: 0;
}

.post-author {
    color: gray;
    margin: 0;
}

.share-blog {
    display: flex;
}

.share-buttons {
    margin-left: auto;
}


/* Vertical Align LinkedIn button */
.IN-widget {
    vertical-align: top !important; 
}
