

.post-title {
    margin-top: 0;
}

.post-author {
    color: gray;
    margin: 0;
}

.share-blog {
    float: right;
}

/* Vertical Align LinkedIn button */
.IN-widget {
    vertical-align: top !important; 
}
